body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    user-select: none;
    background: #ecf0f3;
}

body.dark-mode{
    background-color: black;
    color: #fff;
}

.container {
    margin-left: 1.8em;
    padding: 20px;
    border-radius: 8px;
  
}

.content {
    width: 100%;
    margin-top: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row button {
    width: 60px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    transition: .1s;
    
}

.row button:hover {
    box-shadow: inset 5px 5px 8px rgba(16, 16, 16, .1),
        inset -5px -5px 8px #fff;
    background: #fff;
}

.display #screen {
    margin-bottom: .5em;
    width: auto;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5em;
    background: #ecf0f3;
    border-radius: 6px;
  
}

#eval {
    background: orange;
    color: #fff;
    box-shadow: inset 5px 5px 8px orange,
        inset -5px -5px 8px orange;
}

#eval:hover {
    box-shadow: inset 5px 5px 8px orange,
        inset -5px -5px 8px orange;
}

#ac {
    background: red;
    color: #fff;
}

#ac:hover {
    box-shadow: inset 5px 5px 8px red,
        inset -5px -5px 8px red;
}

#ce {
    background: green;
    color: #fff;
}

#ce:hover {
    box-shadow: inset 5px 5px 8px green,
        inset -5px -5px 8px green;
}

.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
margin-left: 100px;
margin-top: 300px;
}


.switch input {
opacity: 0;
width: 0;
height: 0;
}


.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: rgb(219, 34, 210);
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}


.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;

}